@import "../../app/App.scss";

.assignment-chip {
    border-radius: 100vw;

    color: unset;
    text-decoration: unset;

    background-color: $color-primary;
    color: $color-primary-contrast;

    display: block;
    padding: 0.2rem 1rem;
    margin: 0.5rem 0;

    width: max-content;

    p {
        padding: 0;
        margin: 0;
    }
}

a.assignment-chip {
    color: $color-primary-contrast;
    text-decoration: unset;
    transition: $transition-primary;

    &:hover {
        color: $color-text;
        background-color: $color-bg;
        outline: 0.2rem solid $color-primary;
        transition: $transition-primary;
    }
}
