.home-page {
    header {
        nav {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            .input-group {
                flex-grow: 1;
            }
        }
    }
}
