@import "../../app/App.scss";

.home-page {
    header {
        nav {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            .input-group {
                flex-grow: 1;
            }
        }
    }

    .groups {
        ul {
            list-style: none;
            padding-left: 0;
            margin: 0;
        }
        .group {
            background: $color-bg;

            margin: 2rem 0;
            padding: 0.5rem 0.5rem;
            h2 {
                margin: 0;
                margin: 1rem 0 0 1rem;
                font-size: 2.5rem;
            }

            ul {
                list-style: none;
                padding-left: 0;
                margin: 0;
                width: 100%;

                display: flex;
                flex-wrap: wrap;
                align-items: start;
                gap: 1rem;
            }
        }
        .course {
            max-width: 100%;
            flex-grow: 1;
            flex-basis: 20rem;

            transition: $transition-primary;

            padding: 1.5rem 0rem;
            margin: 0 1.5rem;

            & > a {
                margin: -1.5rem;
                padding: 1.5rem;
            }

            &:hover {
                color: $color-primary-contrast;
                background-color: $color-primary;
                transition: $transition-primary;

                padding: 1.5rem 1.5rem;
                margin: 0 0;

                .assignments {
                    a {
                        transition: $transition-primary;
                        background-color: $color-primary-contrast;
                        color: $color-primary;
                    }
                }
                .schedule {
                    &.has-overflow::before {
                        transition: $transition-primary;
                        box-shadow: inset 0 -10rem 6rem -6rem $color-primary !important;
                    }
                    & > button {
                        color: $color-primary;
                        background-color: $color-primary-contrast;
                    }
                }
            }

            .schedule {
                max-height: 25rem;
                position: relative;
                overflow: hidden;

                &.has-overflow::before {
                    transition: $transition-primary;

                    content: "";
                    width: 100%;
                    height: 100%;

                    position: absolute;

                    box-shadow: inset 0 -10rem 6rem -6rem $color-bg;
                }

                & > div h2:first-child {
                    display: none;
                }

                & > button {
                    transition: $transition-primary;

                    position: absolute;
                    bottom: 1rem;
                    left: 40%;
                    right: 40%;

                    cursor: default;
                }

                img {
                    max-width: 100%;
                }
            }

            .assignments {
                display: flex;
                flex-wrap: wrap;
                a {
                    color: unset;
                    text-decoration: unset;

                    background-color: $color-primary;
                    color: $color-primary-contrast;

                    display: block;
                    padding: 0.2rem 0.5rem;
                    margin: 0.5rem 0;
                }
            }

            & > a {
                color: unset;
                text-decoration: unset;

                display: block;

                h3 {
                    margin-top: 0;
                }
            }
        }
    }
}
