$small-screen: 80ch;
$medium-screen: 115ch;

$font-family: "Atkinson Hyperlegible", sans-serif;

$color-page: #fff;
$color-bg: #deebf1;
$color-primary: #4789c6;
$color-primary-contrast: #fff;
$color-secondary: #dead40;

$transition-primary: 0.2s;

$shadow-default: rgba(100, 100, 111, 0.05) 0px 7px 29px 0px;

* {
    font-family: $font-family;
    border-radius: 0.2rem;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
}
h2 {
    font-weight: bold;
    font-size: 1.7rem;
}
h3 {
    font-weight: bold;
    font-size: 1.4rem;
}
h4 {
    font-weight: bold;
    font-size: 1.2rem;
}
h5 {
    font-weight: bold;
    font-size: 1rem;
}
h6 {
    font-weight: bold;
    font-size: 1rem;
}
// h1,
// h2,
// h3,
h4,
h5,
h6 {
    border-bottom: solid #0003 0.2rem;
    border-radius: 0;
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
}

label {
    font-weight: bold;

    &::after {
        content: ":";
        width: 1ch;
        height: 1ch;
        margin-left: 0.2ch;
    }
}

.page {
    margin: 0 1.5rem;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: normal;
    font-weight: normal;
    src: local("./resources/typography/AtkinsonHyperlegible-Regular.ttf");
}
@font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: normal;
    font-weight: bold;
    src: local("./resources/typography/AtkinsonHyperlegible-Bold.ttf");
}
@font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: italic;
    font-weight: normal;
    src: local("./resources/typography/AtkinsonHyperlegible-Italic.ttf");
}
@font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: italic;
    font-weight: bold;
    src: local("./resources/typography/AtkinsonHyperlegible-BoldItalic.ttf");
}
