$small-screen: 80ch;
$medium-screen: 115ch;

$font-family: "Atkinson Hyperlegible", sans-serif;

$color-page: #fff;
$color-bg: #deebf1;
$color-primary: #4789c6;
$color-primary-contrast: #fff;
$color-secondary: #dead40;
$color-text: #000000;
$color-text-contrast: #fbfef9;
$color-code-bg: #191923;
$color-code-text: #fbfef9;

$transition-primary: 0.2s;

$shadow-default: rgba(100, 100, 111, 0.05) 0px 7px 29px 0px;

$border-radius: 0.3rem;

:root {
    color: $color-text;
}

* {
    font-family: $font-family;
    border-radius: $border-radius;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
}
h2 {
    font-weight: bold;
    font-size: 1.7rem;
}
h3 {
    font-weight: bold;
    font-size: 1.4rem;
}
h4 {
    font-weight: bold;
    font-size: 1.2rem;
}
h5 {
    font-weight: bold;
    font-size: 1rem;
}
h6 {
    font-weight: bold;
    font-size: 1rem;
}
// h1,
// h2,
// h3,
h4,
h5,
h6 {
    border-bottom: solid #0003 0.2rem;
    border-radius: 0;
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
}

label {
    font-weight: bold;

    &::after {
        content: ":";
        width: 1ch;
        height: 1ch;
        margin-left: 0.2ch;
    }
}

button {
    border: none;
    color: $color-primary-contrast;
    background-color: $color-primary;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
}

pre {
    background-color: $color-code-bg;
    color: $color-code-text;
    padding: 1rem;
    line-height: 1.7rem;
}

.page {
    margin: 0 1.5rem;
}

a[href],
input[type="submit"],
input[type="image"],
label[for],
select,
button,
.pointer {
    cursor: pointer !important;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: normal;
    font-weight: normal;
    src: url("./typography/AtkinsonHyperlegible-Regular.ttf");
}
@font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: normal;
    font-weight: bold;
    src: url("./typography/AtkinsonHyperlegible-Bold.ttf");
}
@font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: italic;
    font-weight: normal;
    src: url("./typography/AtkinsonHyperlegible-Italic.ttf");
}
@font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: italic;
    font-weight: bold;
    src: url("./typography/AtkinsonHyperlegible-BoldItalic.ttf");
}
