@import "../../app/App.scss";

.main-navbar {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 0 1rem;
    height: 5rem;
    background-color: azure;

    // position: -webkit-sticky;
    // position: sticky;

    top: 0;

    .logo {
        height: 100%;

        display: flex;
        align-items: center;

        img {
            display: inline-block;
            height: 90%;
        }
    }

    .page-title {
        display: inline-block;

        @media screen and (max-width: $small-screen) {
            & {
                display: none;
            }
        }
    }

    .pages {
        margin-left: auto;
    }
}
