@import "../../app/App.scss";

$navbar-height: 5rem;

.main-navbar {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 0 1rem;
    margin: 0 0 2rem 0;
    height: $navbar-height;

    background-color: $color-primary-contrast;
    box-shadow: $shadow-default;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;

    border-radius: 0;

    .logo {
        height: 100%;

        display: flex;
        align-items: center;

        img {
            display: inline-block;
            height: 90%;
        }
    }

    .page-title {
        display: inline-block;

        @media screen and (max-width: $small-screen) {
            & {
                display: none;
            }
        }
    }

    .pages {
        margin-left: auto;
        display: flex;

        a:hover,
        &:not(*:hover) a.active {
            background-color: $color-primary;
            color: $color-primary-contrast;
            margin: 0;
            padding: 1rem 1rem;
            transition: $transition-primary;
        }

        a {
            margin: 0 1rem;
            padding: 1rem 0;
            display: flex;
            align-items: center;

            text-decoration: none;
            color: $color-primary;

            transition: $transition-primary;

            span {
                margin-left: 0.25rem;
                @media screen and (max-width: $medium-screen) {
                    display: none;
                }
            }

            svg {
                font-size: 1.25rem;
            }
        }
    }
}
