$small-screen: 80ch;

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-left: -0.5em;
    margin-right: -0.5em;
}

label {
    font-weight: bold;

    &::after {
        content: ":";
        width: 1ch;
        height: 1ch;
        margin-left: 0.2ch;
    }
}

.page {
    margin: 0 1.5rem;
}
